
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

body{
    font-family:'Lora', serif;
}

.container{
    background-color: lightgreen;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 0 20px;
    text-align: center;
    padding: 0 20px;
}

.logo{
    font-size: 5em;
    color: green;
    text-shadow: -3px -3px 0 white,
    3px -3px 0 white,
    -3px 3px 0 white,
    3px -3px 0 white;
    
}

.button{
background-color: orange;
color: white;
height: 50px;
width: 140px;
border-radius: 20px;
text-align: center;
cursor: pointer;
font-size: 2em;
padding: 10px 15px;
font-weight: 800;
}

input
{
    width: 300px;
    text-align: center;
    font-size: 2em;
    height: 2em;
    margin: 30px;
}


#input-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    
}
#submit
{

    margin-left: 30px;
}


h1
{
font-family: 3em;
}


#message
{
display: none;
color: aliceblue;
font-size: 2em;
text-align: center;
padding: 5px 15px;
border-radius: 20px;
}

#lives
{
font-size: 50px;
}
.button:hover
{
    background-color: black;
}